[submodule "phantom/libraries/glfw"]
	path = phantom/libraries/glfw
	url = https://github.com/gilmarxd/glfw.git
[submodule "phantom/libraries/glad"]
	path = phantom/libraries/glad
	url = https://github.com/gilmarxd/glad.git
[submodule "phantom/libraries/spdlog"]
	path = phantom/libraries/spdlog
	url = https://github.com/gilmarxd/spdlog.git
