[submodule "phantom/libraries/glfw"]
	path = phantom/libraries/glfw
	url = https://github.com/gilmarxd/glfw.git
	branch = master
[submodule "phantom/libraries/glad"]
	path = phantom/libraries/glad
	url = https://github.com/gilmarxd/glad.git
	branch = master
[submodule "phantom/libraries/spdlog"]
	path = phantom/libraries/spdlog
	url = https://github.com/gilmarxd/spdlog.git
	branch = master
[submodule "phantom/libraries/imgui"]
	path = phantom/libraries/imgui
	url = https://github.com/gilmarxd/imgui.git
	branch = docking
[submodule "phantom/libraries/glm"]
	path = phantom/libraries/glm
	url = https://github.com/g-truc/glm.git
[submodule "phantom/libraries/ct-ecs"]
	path = phantom/libraries/ct-ecs
	url = https://github.com/gilmarxd/ct-ecs.git
	branch = master
[submodule "phantom/libraries/assimp"]
	path = phantom/libraries/assimp
	url = https://github.com/gilmarxd/assimp
	branch = master
